@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  overflow-x: hidden;
}
body #interface {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
}
body #interface #infoInput {
  padding: 0 1rem;
}
body #interface #infoInput form {
  display: flex;
  flex-direction: column;
}
body #interface #infoInput form h1 {
  color: hsl(202, 55%, 16%);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
body #interface #infoInput form label {
  color: hsl(200, 24%, 40%);
}
body #interface #infoInput form .displayGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}
body #interface #infoInput form .displayGrid input {
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
body #interface #infoInput form .displayGrid .rightSymbol {
  background-color: hsl(202, 86%, 94%);
  border-radius: 0.2rem;
  padding: 0.5rem;
}
body #interface #infoInput form .borderHidden {
  border: none;
}
body #interface #infoInput form .visually-hidden {
  display: none;
}
body #interface #infoInput form .error {
  color: hsl(4, 69%, 50%);
  display: none;
  margin: -1rem 0 1rem;
}
body #interface #infoInput form #btnClearAll {
  border: none;
  background: none;
  color: hsl(200, 24%, 40%);
  border-bottom: 1px solid hsl(200, 24%, 40%);
  margin-bottom: 1.5rem;
  align-self: start;
}
body #interface #infoInput form #amountGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}
body #interface #infoInput form #amountGrid input {
  border: none;
  background: none;
  padding: 0.5rem;
}
body #interface #infoInput form #amountGrid #leftSymbol {
  grid-column: 1;
  grid-row: 1;
  background-color: hsl(202, 86%, 94%);
  border-radius: 0.2rem 0 0 0.2rem;
  padding: 0.5rem;
  color: hsl(200, 24%, 40%);
}
body #interface #infoInput form #mortgageType input[type=radio]:checked {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid hsl(61, 70%, 52%);
  /* Amarelo queimado */
  border-radius: 50%;
  outline: none;
  position: relative;
}
body #interface #infoInput form #mortgageType input[type=radio]:checked::before {
  content: "";
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: hsl(61, 70%, 52%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #interface #infoInput form #mortgageType legend {
  color: hsl(200, 24%, 40%);
  margin-bottom: 0.5rem;
}
body #interface #infoInput form #mortgageType p {
  display: flex;
  flex-direction: column;
}
body #interface #infoInput form #mortgageType label {
  color: hsl(202, 55%, 16%);
  margin-left: 0.5rem;
}
body #interface #infoInput form #mortgageType .mortType {
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-weight: bold;
}
body #interface #infoInput form #mortgageType #rapaymentType {
  margin-bottom: 0.5rem;
}
body #interface #infoInput form #btnSubmit {
  background-color: hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
  padding: 0.8rem;
  border-radius: 5rem;
  border: none;
  margin: 1rem 0 2.5rem 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #interface #infoInput form #btnSubmit img {
  margin-right: 0.5rem;
}
body #interface #resu {
  background-color: hsl(202, 55%, 16%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
}
body #interface #resu p {
  color: hsl(203, 41%, 72%);
}
body #interface #resu h2 {
  margin: 0.5rem 0 1rem;
  font-size: 1.2rem;
}
body #interface #resu .attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
body #interface #resu .attribution a {
  color: hsl(61, 70%, 52%);
}
body #interface #resu #emptyResu {
  text-align: center;
}
body #interface #resu #completedResu {
  display: none;
  justify-content: center;
}
body #interface #resu #completedResu #results {
  margin-top: 1.5rem;
  padding: 1rem;
  border-top: 0.1rem solid hsl(61, 70%, 52%);
  border-radius: 1rem;
  background-color: hsl(201, 80%, 10%);
}
body #interface #resu #completedResu #results #monthlyResu {
  color: hsl(61, 70%, 52%);
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid hsl(200, 24%, 40%);
  padding-bottom: 0.8rem;
  font-weight: bold;
}
body #interface #resu #completedResu #results #repayResu {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 1.5rem;
}
@media (min-width: 540px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: hsl(202, 86%, 94%);
  }
  body #interface {
    width: 50rem;
  }
  body #interface #infoInput form #flexTittleBtnClear {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem;
  }
  body #interface #infoInput form #flexTittleBtnClear h1 {
    margin: 0;
    flex: 1;
  }
  body #interface #infoInput form #flexTittleBtnClear #btnClearAll {
    margin: 0;
  }
  body #interface #infoInput form #flexFieldset {
    display: flex;
    gap: 1rem;
  }
  body #interface #infoInput form #flexFieldset .flexFieldsetItem {
    flex: 1;
  }
  body #interface #infoInput form #btnSubmit {
    justify-content: left;
    width: fit-content;
    padding: 0.8rem 1.5rem;
  }
  body #interface #resu {
    border-radius: 0 0 1rem 1rem;
  }
}
@media (min-width: 1024px) {
  body #interface {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body #interface #infoInput form input {
    cursor: pointer;
  }
  body #interface #infoInput form input:hover {
    border: 1px solid black;
  }
  body #interface #infoInput form #btnClearAll {
    cursor: pointer;
  }
  body #interface #infoInput form #btnClearAll:hover {
    color: hsl(202, 55%, 16%);
    font-weight: bold;
  }
  body #interface #infoInput form #mortgageType .mortType {
    cursor: pointer;
  }
  body #interface #infoInput form #mortgageType .mortType label {
    cursor: pointer;
  }
  body #interface #infoInput form #mortgageType .mortType:hover {
    border: 1px solid hsl(61, 70%, 52%);
  }
  body #interface #infoInput form #btnSubmit {
    cursor: pointer;
  }
  body #interface #infoInput form #btnSubmit:hover {
    background-color: hsla(61, 70%, 52%, 0.533);
  }
  body #interface #resu {
    border-radius: 0 1rem 1rem 4rem;
  }
}/*# sourceMappingURL=style.css.map */