@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

#interface #infoInput {
  padding: 0 1rem;
}
#interface #infoInput h1 {
  color: hsl(202, 55%, 16%);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
#interface #infoInput form {
  display: flex;
  flex-direction: column;
}
#interface #infoInput form label {
  color: hsl(200, 24%, 40%);
}
#interface #infoInput form .displayGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}
#interface #infoInput form .displayGrid input {
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
#interface #infoInput form .displayGrid .rightSymbol {
  background-color: hsl(202, 86%, 94%);
  border-radius: 0.2rem;
  padding: 0.5rem;
}
#interface #infoInput form .borderHidden {
  border: none;
}
#interface #infoInput form .visually-hidden {
  display: none;
}
#interface #infoInput form .error {
  color: hsl(4, 69%, 50%);
  display: none;
  margin: -1rem 0 1rem;
}
#interface #infoInput form #btnClearAll {
  border: none;
  background: none;
  color: hsl(200, 24%, 40%);
  border-bottom: 1px solid hsl(200, 24%, 40%);
  margin-bottom: 1.5rem;
  align-self: start;
}
#interface #infoInput form #amountGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}
#interface #infoInput form #amountGrid input {
  border: none;
  background: none;
  padding: 0.5rem;
}
#interface #infoInput form #amountGrid #leftSymbol {
  grid-column: 1;
  grid-row: 1;
  background-color: hsl(202, 86%, 94%);
  border-radius: 0.2rem 0 0 0.2rem;
  padding: 0.5rem;
  color: hsl(200, 24%, 40%);
}
#interface #infoInput form #mortgageType legend {
  color: hsl(200, 24%, 40%);
  margin-bottom: 0.5rem;
}
#interface #infoInput form #mortgageType p {
  display: flex;
  flex-direction: column;
}
#interface #infoInput form #mortgageType label {
  color: hsl(202, 55%, 16%);
}
#interface #infoInput form #mortgageType .mortType {
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-weight: bold;
}
#interface #infoInput form #mortgageType #rapaymentType {
  margin-bottom: 0.5rem;
}
#interface #infoInput form #btnSubmit {
  background-color: hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
  padding: 0.8rem;
  border-radius: 5rem;
  border: none;
  margin: 0rem 0 1.5rem 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#interface #infoInput form #btnSubmit img {
  margin-right: 0.5rem;
}
#interface #resu {
  background-color: hsl(202, 55%, 16%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
}
#interface #resu p {
  color: hsl(203, 41%, 72%);
}
#interface #resu h2 {
  margin: 0.5rem 0 1rem;
  font-size: 1.2rem;
}
#interface #resu .attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
#interface #resu .attribution a {
  color: hsl(61, 70%, 52%);
}
#interface #resu #emptyResu {
  text-align: center;
  display: none;
}
#interface #resu #completedResu {
  display: block;
  justify-content: center;
}
#interface #resu #completedResu #results {
  margin-top: 1.5rem;
  padding: 1rem;
  border-top: 0.1rem solid hsl(61, 70%, 52%);
  border-radius: 1rem;
  background-color: hsl(201, 80%, 10%);
}
#interface #resu #completedResu #results #monthlyResu {
  color: hsl(61, 70%, 52%);
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid hsl(200, 24%, 40%);
  padding-bottom: 0.8rem;
}
#interface #resu #completedResu #results #repayResu {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */