@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin tabletView {
    @media(min-width: 540px) {
        @content;
    }
}

@mixin desktopView {
    @media(min-width: 1024px) {
        @content;
    }
}