@use 'variables';
@use 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#interface {
    padding: 1rem;

    .attribution {
        font-size: 11px;
        text-align: center;
    
        a {
            color: hsl(228, 45%, 44%);
        }
    } 

    #infoInput {
        h1 {
            color: variables.$slate900;
            font-size: 1.5rem;
            margin-bottom: .5rem;
            margin-top: .5rem;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                color: variables.$slate700;
            }

            .displayGrid {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto;
                border: 1px solid variables.$slate700;
                border-radius: .2rem;
                margin-top: .5rem;
                
                input {
                    border: none;
                    padding: .5rem;
                    border-radius: .2rem;
                }

                .rightSymbol {
                    background-color: variables.$slate100;
                    border-radius: .2rem;
                    padding: .5rem;
                }
            }

            .borderHidden {
                border: none;
            }
            
            .visually-hidden {
                display: none;
            }
    
            .error {
                color: variables.$red;
                display: none;
            }

            #btnClearAll {
                border: none;
                background: none;
                color: variables.$slate700;
                border-bottom: 1px solid variables.$slate700;
                margin-bottom: 1.5rem;
                align-self: start;
            }

            #amountGrid {
                display: grid;
                grid-template-columns: auto 1fr;
                border: 1px solid variables.$slate700;
                border-radius: .2rem;
                margin-top: .5rem;

                input {
                    border: none;
                    background: none;
                    padding: .5rem;
                }

                #leftSymbol {
                    grid-column: 1;
                    grid-row: 1;
                    background-color: variables.$slate100;
                    border-radius: .2rem 0 0 .2rem;
                    padding: .5rem;
                    color: variables.$slate700;
                }
            }

            #mortgageType {
                legend {
                    color: variables.$slate700;
                    margin-bottom: .5rem;
                }

                p {
                    display: flex;
                    flex-direction: column;
                }
                
                label {
                    color: variables.$slate900;
                }

                .mortType {
                    border: 1px solid variables.$slate700;
                    border-radius: .2rem;
                    padding: .5rem;
                    font-weight: bold; 
                }

                #rapaymentType {
                    margin-bottom: .5rem;
                }

                
            }

            #btnSubmit {
                @include mixins.flex-center;

                background-color: variables.$lime;
                color: variables.$slate900;
                padding: .8rem;
                border-radius: 5rem;
                border: none;
                margin: 0rem 0 1.5rem 0;
                font-weight: bold;

                img {
                    margin-right: .5rem;
                }
            }
        }
    }
    
    #resu {
        background-color: variables.$slate900;
        color: variables.$white;
        
        p {
            color: variables.$slate300;
        }

        #emptyResu {
            @include mixins.flex-center;
        }

        #completedResu {
            display: none;

            #monthlyResu {
                color: variables.$lime;
            }

            #repayResu {
                color: variables.$white;
            }
        } 
    }
}